/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
	text-align: center;
}

p {
     margin: 0px;
}

.jumbotron {
	text-align: center;
	background-image: url(../images/CDMx.jpg);
	background-size: cover;
	background-color: white;
	background-attachment: scroll;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.j2 {
	background-image: none;
}

#about {
	/*padding-top: 60px;*/
	background-image: none;
}

#hammer{
	margin-top: 50px;
	margin-bottom: 50px;
}

#hack{
	background-color: #f5f5f5;
}

.video-segment{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 70px;	
}

.jumbotron div.main-container{
	background-color:rgba(0,0,0,.85);
	margin-top: 80px;
	margin-bottom: 80px;
}

.jumbotron div.container{
	margin-top: 50px;
	margin-bottom: 50px;
}

.jumbotron p{
	margin-top: 20px;
	padding-left: 80px;
	padding-right: 80px;
	color: white;
	opacity: 1.0;
}

.jumbotron h1{
	font-family: Oswald;
	font
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	opacity: 1.0;
}

.container {
	text-align: center;
}

.container h1{

	font-family: Oswald;
}

.container h2{

	font-family: Oswald;
}

.specificP{
	margin-top: 40px;
	margin-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
}

.specificRow p{
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}



.btn-lg {
	font-size: 36px;
}

.navbar div {
	font-family: Poiret One;
}

@media (max-width: 1200px){

	body{
		background-size: cover;
	}

	footer{
		color: white;
	}

	.jumbotron{
		background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
	}

}

@media (max-width: 991px) {
	div.col-md-4{
		margin-top: 80px;
	}
	.video-segment{
		margin-top: 30px;
		width: 504px;
		height: 378px;
	}
	.jumbotron p{
		padding: 0px 80px;
	}
}

@media (max-width: 767px) {
	
	.jumbotron p{
		padding: 0px 80px;
		margin-top: 30px;
	}

	.video-segment{
		margin-top: 30px;
		width: 420px;
		height: 315px;
	}
}

@media (max-width: 535px) {
	.jumbotron p{
		padding: 0px 30px;
	}

	.jumbotron {
		background-image: url(../images/CDMxM.jpg);
		background-attachment: scroll;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.j2{
		/*background-image: url(../images/hackM.jpg);*/
	}

	#about{
		/*background-image: url(../images/teamM.jpg);*/
	}

	#hammer{
		margin: 20px 20px;
	}

	#hack{
		background-image: none;
	}

	div.col-md-4{
		margin-top: 140px;
	}
	.video-segment{
		margin-top: 30px;
		width: 294px;
		height: 220.5px;
	}
}
